.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--color-background-header);
  border-bottom: 1px solid var(--color-border-panel);
  letter-spacing: 0.02em;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  font-weight: 600;
}

.headerAccent {
  color: var(--color-interactive-accent);
}

.headerIcon {
  max-height: 1em;
  overflow: hidden;

  /* COPILOT: RESIZE IMAGE TO 2X BUT CUT OVERFLOW */
  transform: scale(2.5);
}
